body{background-color: #FFFFFF;}
table{background-color: #2AAFDB;width: 1000px;margin-left: auto;margin-left: auto;margin-right: auto;}
td,th{border-style: solid;border-color: white;}
.grande{100:100}
p {50:50}
img{70:70}
.hola{width: 50px; height: 50px}